

.touch-device-notification, .desktop-notification {
  &-wrapper {
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    position: fixed;
    display: none;
    background-color: #fff;
    padding: 30px 10px;
    z-index: 1111111111111111;
    &.show {
      display: block;
    }
  }
  &-block {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &-main-message{
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 28px;
    line-height: 1.3;
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
    @include media('<=tablet-s') {
      font-size: 22px;
    }
    @media (hover: hover) and (pointer: fine) {
      @include media('<=300px') {
        font-size: 16px;
      }
    }
    @media (hover: none) and (pointer: coarse) {
      @include media ('landscape'){
        font-size: 28px;
        @include media('<=desktop') {
          font-size: 24px;
        }
      }
    }
  }
  &-img-wrapper{
    margin: 20px 0;
    svg, img{
      width: 100%;
    }
  }
  &-extra-message{
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 22px;
    line-height: 1.2;
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
    @include media('<=tablet-s') {
      font-size: 16px;
    }
    @media (hover: hover) and (pointer: fine) {
      @include media('<=300px') {
        font-size: 14px;
      }
    }
    @media (hover: none) and (pointer: coarse) {
      @include media ('landscape'){
        font-size: 22px;
        @include media('<=desktop') {
          font-size: 18px;
        }
      }
    }
  }
}

.touch-device-default-icon{
  @include media('portrait') {
    max-width: 190px;
    animation: portraitIconAnimation 1.7s forwards 0.6s infinite;
    @include media('<=tablet-s') {
      max-width: 135px;
    }
  }
  @include media('landscape') {
    transform: rotate(90deg);
    animation: landscapeIconAnimation 1.7s forwards 0.6s infinite;
    svg {
      max-width: 220px;
    }
    @include media('<=desktop') {
      svg {
        max-width: 100px;
      }
    }
  }
}

.desktop-default-icon {
  animation: desktopIconAnimation 1.5s forwards 0.6s infinite;
  max-height: 50%;
  svg{
    max-height: 100%;
  }
}

@keyframes desktopIconAnimation {
  50% {
    transform: scale(1.2);
  }
  90% {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}

@keyframes portraitIconAnimation {
  85% {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(90deg);
  }
}

@keyframes landscapeIconAnimation {
  85% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(0deg);
  }
}